<launch>
  <group ns="tb3_2">
      <arg name="multi_robot_name" default="tb3_2"/>
      <arg name="set_lidar_frame_id" default="tb3_2/base_scan"/>
      <!-- to do -->
      <arg name="x_pos" default="6.74"/>
      <arg name="y_pos" default="-0.03"/>
      <arg name="yaw" default="0"/>

      <arg name="anchor0" default="tb3_0"/>
      <arg name="anchor1" default="tb3_1"/>
      <arg name="anchor2" default="tb3_3"/>

      <arg name="sim" default="false"/>

      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
        <arg name="port" default="$(env CORE_PORT)"/>
        <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
      </include>

      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
        <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
      </include>

      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_pozyx.launch">
          <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
          <arg name="sim" default="$(arg sim)"/>
          <arg name="anchor0" value="$(arg anchor0)"/>
          <arg name="anchor1" value="$(arg anchor1)"/>
          <arg name="anchor2" value="$(arg anchor2)"/>
          <arg name="x_pos" default="$(arg x_pos)"/>
          <arg name="y_pos" default="$(arg y_pos)"/>
          <arg name="yaw" default="$(arg yaw)"/>
      </include>
  </group>
</launch>
